@media (min-width: $media-phone) {
    .hide-phone {
        display: none;
    }
}

@media (min-width: $media-tablet) {
    .hide-tablet {
        display: none;
    }
}

@media (min-width: $media-desktop) {
    .hide-desktop {
        display: none;
    }
}