// Colors
$background-color: #3d4650;
$accent-color: #535C6C;
$main-color: #fb503b;
$border-color: #cecece;

// Fonts
$font-family: 'Open Sans', sans-serif;
$font-family-heading: 'Roboto', sans-serif;
$font-size: 14px;
$font-weight-normal: 400;
$font-color: #3d4650;

// Viewports
$media-desktop:  1200px;
$media-tablet: 992px;
$media-phone: 768px;